<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About us</a></li>
        <li><a href="apps">APPS</a></li>
        <li><a href="contact">Constact</a></li>
    </ul>
</nav>